body{
    margin: 0;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 5fr;
}
header{
    display:grid;
    grid-template-columns: 5fr 1fr;
    padding: 10px 20px;
    background-color: aqua;
}

.card-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px 20px;
}

.card-section article{
    background-color: white;
    padding: 10px;
}