body{
    margin: 0;
    background-color: #f0eef1;;
}
.reset-button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 5fr;
}
header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow:  0 1px #D3D3D3;
}
header > h2{
    font-size: 3rem;
}

header ul li{
    list-style-type: none;
}
.card-section article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}
.card-section article *{
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}
.card-section h3{
    font-size: 1.5rem;
}

.card-section h4{
    font-size: 1.2rem;
}
.button-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.remove{
    font-size: 1rem;
    padding: 10px 10px;
    margin: 5px 10px;
    background-color: #f0eef1;
    border-radius: 10px;
}
.read-toggle{
    font-size: 1rem;
    padding: 10px 10px;
    margin: 5px 10px;
    background-color: #f0eef1;
    border-radius: 10px;
}
#show-dialog{
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #f0eef1;
    border-radius: 10px;
}
#show-dialog:hover{
    background-color:#71797E;
    transition: 0.5s;
    cursor: pointer;
}
#add-book-dialog h3{
    text-align: center;
}
#add-book-dialog form{
    display: flex;
    flex-direction: column;
}
#add-book-dialog *{
    margin: 5px;
}
#add-book-dialog button{
    font-size: 1rem;
    padding: 10px 20px;
    margin: 5px;
    background-color: #f0eef1;
    border-radius: 10px;
}
#close-dialog{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    margin: 0 5px;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px 20px;
}

.card-section article{
    background-color: white;
    padding: 10px;
}